{% extends 'base.html' %}

{% block content %}

<style>
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 400px !important;
        border-radius: 10px;
        padding: 20px 20px 20px 20px !important;
        margin: 50px auto !important
    }
</style>

<div class="container">
    <form action="">
        <h4>Password Reset Complete</h4>
        <p>Your password has been successfully reset. You can now <a href="{% url 'signin' %}">log in</a> with your new password.</p>
    </form>
</div>
   
{% endblock %}
