{% extends 'base.html' %}

{% block content %}

<style>
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 400px !important;
        border-radius: 10px;
        padding: 20px 20px 20px 20px !important;
        margin: 50px auto !important
    }
</style>

    
    <form method="post">
        <h4>Reset Your Password</h4>
        <br>
        {% csrf_token %}
        
        {% for field in form  %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">{{field.label}}</label>
            {{field}}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Reset Password</button>
        
    </form>


    <script>
        window.addEventListener("load", styleInput)

        function styleInput(){
            let password1 = document.getElementById("id_new_password1")
            password1.classList.add("form-control")

            let password2 = document.getElementById("id_new_password2")
            password2.classList.add("form-control")
        }
    </script>
{% endblock %}