<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block content %}

<style>
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 400px !important;
        border-radius: 10px;
        padding: 20px 20px 20px 20px !important;
        margin: 50px auto !important
    }
</style>



    <!-- Your custom content for the password reset form -->
   
    <form method="post" action="{% url 'password_reset' %}">
        <h4>Custom Password Reset Form</h4>
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.as_p }}
          </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>


    <script>
        window.addEventListener("load", styleInput)

        function styleInput(){
            let input = document.getElementById("id_email")
            input.classList.add("form-control")
        }
    </script>
{% endblock %}
