{% extends "base.html" %}


{% block content %}

<style>

    .summernote-div{
        
    }

    #id_body_iframe{
        width: 100% !important

    }

    .note-editor{
        width: 100% !important
    }

    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        border-radius: 10px;
        padding: 20px 20px 20px 20px !important;
        margin: 20px auto !important
    }

    form input{
        height: 40px !important;
    }

    form h4{
        margin-bottom: 20px !important;
        text-align: center !important
    }

    form p{
        text-align: center
    }

    form small{
        color: red
    }



</style>


<form action="" method="POST" enctype='multipart/form-data'>

    {% csrf_token %}

    
    {% if up %}
    <h4>Update Post</h4>

    {% else %}
    <h4>Create Post</h4>
        
    {% endif %}
        

    

    
    {% for field in form  %}

    
    {% if field.errors  %}

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><strong>{{field.label}}</strong></label>
        {{field}}
        <small>{{field.errors}}</small>
      </div>

      {% else %}


      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><strong>{{field.label}}</strong></label>
        {{field}}
      </div>

      
    {% endif %}
        
        
    {% endfor %}

    
    {% if up %}
    <button class="btn btn-primary" style="width: 100%; margin-top: 10px">Update post</button>

    {% else %}
    <button class="btn btn-primary" style="width: 100%; margin-top: 10px">Create post</button>
        
    {% endif %}
        

    
        

</form>
    
{% endblock content %}
    